* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: hsl(30, 38%, 92%);
}

main {
  width: 343px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card-content {
  padding: 24px;
}

.product-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.overline {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 5px;
  color: hsl(228, 12%, 48%);
  text-transform: uppercase;

  margin-bottom: 12px;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: hsl(212, 21%, 14%);

  margin-bottom: 16px;
}

p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: hsl(228, 12%, 48%);

  margin-bottom: 24px;
}

.price-box {
  display: flex;
  align-items: center;
  gap: 19px;

  margin-bottom: 20px;
}

.price {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  color: hsl(158, 36%, 37%);
}

.discount-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 23px;
  text-decoration-line: line-through;
  color: hsl(228, 12%, 48%);
}

button {
  width: 100%;
  border-radius: 8px;
  background-color: #3d8168;
  padding: 15px 0;
  color: hsl(0, 0%, 100%);

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  border: none;
}

button:hover {
  background-color: #1a4032;
}

.cart-icon {
  margin-right: 10px;
}

footer {
  margin: 8px;
}

.attribution {
  font-size: 9px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop */
@media (min-width: 900px) {
  main {
    width: 600px;
    height: 450px;

    flex-direction: row;
  }

  .product-image {
    width: 300px;
    border-radius: 10px 0 0 10px;
  }

  .card-content {
    padding: 32px;
  }

  .overline {
    margin-bottom: 12px;
  }

  h1 {
    margin-bottom: 24px;
  }

  p {
    margin-bottom: 29px;
  }

  .price-box {
    margin-bottom: 30px;
  }
}
