.container {
  display: flex;
  flex-direction: row;
  gap: 4.5rem;
  margin-bottom: 12.1rem;

  &__text {
    color: $color-white;
    width: 52.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__form {
    width: 54rem;
  }
}
