.prep-time {
  margin: 3.2rem auto;
  padding: 2.8rem;
  border-radius: 12px;
  background-color: $color-neutral-rosewhite;

  & li::marker {
    color: $color-primary-darkraspberry;
  }

  &__heading {
    font-weight: 600;
    font-size: 2rem;
    color: $color-primary-darkraspberry;
    margin-bottom: 1.6rem;
  }
}
