/* 

## COLORS

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)
- Dark Grayish Red: hsl(0, 6%, 24%)

## Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%) 

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-image: linear-gradient(
    135deg,
    hsl(0, 0%, 100%),
    hsl(0, 100%, 98%)
  );
}

.logo-box {
  margin: 3.2rem;
}

.logo {
  width: 10rem;
}

.hero-img-box-mobile {
  display: block;
  background-image: url('../images/hero-mobile.jpg');
  background-size: cover;
  background-position: top left;
  height: 25rem;
  margin-bottom: 6.4rem;
}

.hero-img-box-desktop {
  display: none;
}

.container-main {
  margin: 0 auto 6.4rem;
  width: 31rem;
  text-align: center;
}

.heading-primary {
  text-transform: uppercase;
  margin-bottom: 1.6rem;

  font-size: 4rem;
  line-height: 4.2rem;
  letter-spacing: 10.83px;
}

.heading-primary-first {
  display: block;
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.heading-primary-second {
  display: block;
  color: hsl(0, 6%, 24%);
  font-weight: 600;
}

.body-text {
  color: hsl(0, 36%, 70%);
  margin-bottom: 3.2rem;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
}

.subscription-form {
  position: relative;
}

.email-input {
  width: 100%;
  height: 4.8rem;
  padding: 1rem 2.4rem;

  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 50px;

  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.8rem;
  color: hsl(0, 36%, 70%);

  opacity: 0.5;
}

.email-input:focus {
  outline: none;
}

.email-input-error {
  border: 2px solid hsl(0, 93%, 68%);
  color: hsl(0, 6%, 24%);
}

.email-error-text {
  /* display: none; */
  position: absolute;
  top: 5.6rem;
  left: 2.5rem;

  font-size: 1.3rem;
  font-weight: 400;
  color: hsl(0, 93%, 68%);
}

.error-icon {
  position: absolute;
  top: 1.2rem;
  right: 7.2rem;

  width: 2.4rem;
  height: 2.4rem;
  /* display: none; */
}

.btn-submit {
  position: absolute;
  top: 0;
  right: 0;

  height: 4.8rem;
  width: 6.4rem;
  background-image: linear-gradient(
    135deg,
    rgb(248, 191, 191),
    hsl(0, 74%, 74%)
  );

  border: none;
  border-radius: 50px;

  box-shadow: 0 15px 20px hsla(0, 44%, 60%, 25%);
  /* box-shadow: 0 15px 20px rgb(198, 110, 110, 25%); */
}

.btn-submit:hover,
.btn-submit:active {
  cursor: pointer;
  opacity: 0.75;
  box-shadow: 0 15px 20px hsla(0, 44%, 60%, 40%);
}

.btn-img-box {
  position: relative;
}

.btn-img {
  height: 1.8rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  display: none;
}
