/* font-family: 'Inter', sans-serif; */
/* font-family: 'Lexend Deca', sans-serif; */
/* 
- Very dark blue (main background): hsl(233, 47%, 7%)
- Dark desaturated blue (card background): hsl(244, 38%, 16%)
- Soft violet (accent): hsl(277, 64%, 61%)

### Neutral

- White (main heading, stats): hsl(0, 0%, 100%)
- Slightly transparent white (main paragraph): hsla(0, 0%, 100%, 0.75)
- Slightly transparent white (stat headings): hsla(0, 0%, 100%, 0.6)
 */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: hsl(233, 47%, 7%);
}

main {
  width: 375px;
  margin: 88px auto 112px;
}

article {
  width: 327px;
  margin: 0 auto;
  background-color: hsl(244, 38%, 16%);

  border-radius: 8px;
  position: relative;
}

article::before {
  content: " ";
  background-color: hsl(277, 64%, 61%);
  width: 100%;
  height: 240px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  border-radius: 8px 8px 0 0;
}

.header-img-mobile {
  display: block;
}

.header-img-desktop {
  display: none;
}

img {
  justify-content: center;
  width: 100%;
  border-radius: 8px 8px 0 0;
  mix-blend-mode: multiply;
}

.card-content {
  padding: 40px 31.5px 32px;
}

h1 {
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  font-weight: 700;
  color: hsl(0, 0%, 100%);

  margin-bottom: 16px;
}

.accent {
  color: hsl(277, 64%, 61%);
}

p {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.75);

  margin-bottom: 40px;
}

li {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;
}

.metric-value {
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
}

.metric-description {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);

  font-size: 12px;
  line-height: 25px;
  letter-spacing: 1px;
}

@media (min-width: 1200px) {
  main {
    width: 100%;
    margin-top: 177px;
  }

  article {
    width: 1110px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 20px;
  }

  article::before {
    width: 540px;
    height: 100%;
    left: auto;
    right: 0;
    border-radius: 0 8px 8px 0;
  }

  img {
    width: 540px;
  }

  .header-img-mobile {
    display: none;
  }

  .header-img-desktop {
    display: block;
  }

  .card-content {
    padding: 71px 72px 59px;
  }

  h1 {
    font-size: 36px;
    line-height: 44px;

    margin-bottom: 25px;
    text-align: left;
  }

  p {
    margin-bottom: 72px;
    text-align: left;
    width: 374px;
  }

  ul {
    display: flex;
    flex-direction: row;
    gap: 60px;
  }

  li {
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 0;
  }
}

footer {
  width: 100%;
  color: white;
  margin-bottom: 12px;
}
