// COLORS

$color-green: hsl(157, 74%, 62%);
$color-light-green: hsl(157, 100%, 85%);
$color-white: hsl(0, 0%, 100%);
$color-dark-blue: hsl(225, 36%, 11%);
$color-dark-gray: hsl(225, 26%, 23%);
$color-gray: hsl(225, 21%, 45%);
$color-light-gray: hsl(225, 40%, 83%);
$color-red: hsl(0, 96%, 61%);

// LAYOUT
$tablet-width: 81em; /* (1.296px) */
$mobile-width: 43em; /* (688px) */
