.header {
  margin-bottom: 10.3rem;

  &__logo-img {
    display: block;
  }
}

/* Tablet */
@media (max-width: $tablet-width) {
  .header {
    margin-bottom: 15.2rem;
  }
}

/* Mobile */
@media (max-width: $mobile-width) {
  .header {
    margin-bottom: 5.7rem;

    &__logo-img {
      margin: 0 auto;
    }
  }
}
