* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* - Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%) */

body {
  width: 375px;
  background-image: url("../images/pattern-background-desktop.svg");
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
  font-family: "Red Hat Display", sans-serif;
}

p {
  font-size: 15px;
}

.card {
  width: 327px;
  margin: 71px auto;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 15.2%);
  display: flex;
  flex-direction: column;
}

.order-img-hero {
  width: 327px;
  border-radius: 20px 20px 0 0;
}

.order-content-box {
  padding: 32px 24px;
}

.order-summary-title {
  font-size: 22px;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin-bottom: 16px;
  line-height: 1.8125rem;
}

.order-summary-description {
  color: hsl(224, 23%, 55%);
  line-height: 1.5625rem;
  margin-bottom: 24px;
}

.order-plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(225, 100%, 98%);
  border-radius: 11px;
  padding: 16px;
  margin-bottom: 24px;
}

.order-plan-info {
  display: flex;
  flex-direction: column;
}

.order-plan-box {
  display: flex;
  gap: 20px;
}

.order-plan-name {
  font-weight: 900;
  font-size: 14px;
  line-height: 1.1875rem;
  color: hsl(223, 47%, 23%);
}

.order-plan-price {
  font-size: 14px;
  line-height: 1.1875rem;
  color: hsl(224, 23%, 55%);
}

.order-plan-change:link {
  text-decoration: underline;
  font-size: 13px;
  line-height: 1.0625rem;
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.order-plan-change:hover {
  color: hsla(245, 75%, 52%, 0.7);
  text-decoration: none;
}

.order-btn-proceed {
  width: 100%;
  background-color: hsl(245, 75%, 52%);
  color: white;
  padding: 15px;
  font-weight: 900;
  font-size: 15px;
  line-height: 1.25rem;
  border-radius: 11px;
  margin-bottom: 24px;
  box-shadow: 0px 20px 20px rgba(56, 42, 225, 19%);
  border: none;
}

.order-btn-proceed:hover {
  background-color: hsla(245, 75%, 52%, 0.7);
}

.order-cancel:link {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  font-size: 15px;
  line-height: 1.25rem;
}

.order-cancel:hover {
  color: hsl(223, 47%, 23%);
}

footer {
  margin: 24px auto;
}
