* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: hsl(185, 75%, 39%);
  background-image: url("images/bg-pattern-top.svg"),
    url("images/bg-pattern-bottom.svg");
  background-size: 620px 620px, 620px 620px;
  background-position: calc(50% - 288px) calc(0% - 355px),
    calc(50% + 290px) calc(0% + 360px);

  background-repeat: no-repeat;

  font-family: "Kumbh Sans", sans-serif;
  line-height: 1;
}

.card {
  width: 326px;
  margin: 147px 0;
  background-color: hsl(0, 0%, 100%);

  border-radius: 15px;

  position: relative;
}

.card-bg-pattern {
  width: 100%;
  height: 140px;
  border-radius: 15px 15px 0 0;

  display: block;
}

.profile {
  width: 96px;
  height: 96px;

  border-radius: 50%;
  border: 5px solid hsl(0, 0%, 100%);

  position: absolute;
  left: 50%;
  top: 140px;

  transform: translate(-50%, -50%);
}

.card-content {
  padding: 72px 0 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

h1 {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 9px;
}

h1 .name {
  margin-right: 7px;
}

h1 .name {
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

h1 .age,
h2,
.stats-description {
  font-weight: 400;
  color: hsl(227, 10%, 46%);
}

h2 {
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  margin-bottom: 1px;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background-color: hsl(225, 10%, 92%);
}

.stats {
  display: flex;
  gap: 38px;
}

.stats-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stats-item:last-child {
  margin-left: 8px;
}

.stats-value {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;

  margin-bottom: 6px;
}

.stats-description {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 1.5px;
}

@media (min-width: 900px) {
  body {
    background-size: 978px 978px, 978px 978px;
    background-position: calc(50% - 518px) calc(0% - 490px),
      calc(50% + 465px) calc(0% + 375px);
  }

  .card {
    width: 350px;
    margin: 173px 0;
  }

  .stats {
    gap: 46px;
  }
}
