/* 
COLORS

#66E2DC
#FA7453
#FFB964
#FCFAF9
#191826
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  color: #191826;
  overflow-x: hidden;
  position: relative;
}

.container {
  padding: 0 3.9rem;
  max-width: 118.8rem;
  margin: 0 auto;
}

/* Typography */

.heading-primary {
  font-size: 8.8rem;
  line-height: 1;
  letter-spacing: -0.1rem;
  font-weight: 700;
}

.heading-secondary {
  font-size: 4rem;
  line-height: 1.3;
  font-weight: 700;
}

.text-md {
  font-size: 2rem;
  line-height: 1.7;
  font-weight: 400;
}

.text-sm {
  font-size: 1.6rem;
  line-height: 1.625;
  font-weight: 400;
}

/* Buttons */

.btn {
  border: none;
  /* width: 33.3rem; */
  width: 100%;
  height: 6.1rem;
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  cursor: pointer;

  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 700;
  letter-spacing: -0.018rem;
}

.btn-icon {
  width: 1.7rem;
  height: 2rem;
}

.btn--ios {
  background-color: #191826;
  color: #fcfaf9;
}

.btn--ios:hover {
  background-color: #66e2dc;
}

.btn--android {
  background-color: #fcfaf9;
  color: #191826;
}

.btn--android:hover {
  background-color: #ffb964;
}

/* Tablet (1024px) */
@media (max-width: 64em) {
  .heading-primary {
    font-size: 6.4rem;
    letter-spacing: -0.0727rem;
  }

  .heading-secondary {
    font-size: 3.2rem;
    line-height: 1.25;
  }

  .text-md {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

/* Phone (688px) */
@media (max-width: 43em) {
  .heading-primary {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -0.0455;
  }

  .text-md {
    font-size: 1.6rem;
    line-height: 1.625;
  }
}
