/* Very large screens (1440px+) */
@media (min-width: 90em) {
  .header {
    position: relative;
  }

  .bg-pattern-1 {
    right: -12.5rem;
  }
}

/* Tablet (1024px) */
@media (max-width: 64em) {
  body {
    background: url("../assets/bg-main-tablet.png") no-repeat,
      linear-gradient(0deg, #fcfaf9, #fcfaf9);
    background-size: 160%;
    background-position: -37rem -26rem;
  }

  .bg-pattern-1 {
    position: absolute;
    top: -3.2rem;
    right: -3.57rem;
    width: 26.67rem;
    height: auto;
  }

  /* Hero */
  .hero {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .hero-text-box {
    width: 74%;
  }

  .img-app {
    width: 27rem;
    height: 55.6rem;

    top: -13.8rem;
    left: 6.4rem;
  }

  .bg-pattern-2 {
    position: absolute;
    top: -4rem;
    left: 22rem;
  }

  .container.cta,
  .container.footer {
    padding-left: 3.3rem;
  }

  .cta-container {
    margin-bottom: 9.8rem;
  }

  .cta-form {
    bottom: -9.6rem;
    right: 5.8rem;

    width: 39.9rem;
    padding: 4.8rem;
  }

  .heading-secondary {
    margin-bottom: 1.2rem;
  }

  .cta-text {
    margin-bottom: 3.6rem;
  }

  .price-box {
    margin-bottom: 3.2rem;
  }

  .footer {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;

    grid-template-columns: repeat(3, 1fr);
    row-gap: 3.2rem;
  }

  .logo-col {
    grid-column: 1 / -1;
  }

  .info-col {
    grid-column: 1 / 3;
  }

  .contact-text {
    width: 80%;
  }

  .social-col {
    grid-column: 3;
  }
}

/* Phone (688px) */
@media (max-width: 43em) {
  body {
    background: url("../assets/bg-main-mobile.png") no-repeat,
      linear-gradient(0deg, #fcfaf9, #fcfaf9);
    background-size: 180%;
    background-position: -1rem -33rem;
  }

  .container {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .header {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .bg-pattern-1 {
    display: none;
  }

  .hero {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }

  .heading-primary {
    margin-bottom: 2rem;
  }

  .hero-text-box {
    width: 100%;
  }

  .hero-text {
    width: 100%;
  }

  .container.cta {
    padding: 0;
  }

  .cta-container {
    margin-top: 12.6rem;
    margin-bottom: 31rem;
  }

  .img-app {
    width: 20.9rem;
    height: 43rem;

    top: -9.8rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .bg-pattern-2 {
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 28rem;
  }

  .cta-form {
    bottom: -32.6rem;
    right: 0;

    width: 100%;
    padding: 4.8rem 3.6rem;
  }

  .footer {
    padding-top: 8rem;
    padding-bottom: 8rem;

    grid-template-columns: 1fr;
    gap: 3.2rem;
  }

  .social-col {
    grid-column: 1;
    justify-self: left;
    margin-top: 3.2rem;
  }
}
