/* ## Colors

### Primary

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%) */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
}

main {
  width: 375px;
  margin: 62px auto;
}

.card {
  background-color: hsl(216, 50%, 16%);
  width: 327px;
  border-radius: 15px;
  padding: 24px;
}

.hero {
  position: relative;
  margin-bottom: 16px;
}

.hero-img {
  width: 100%;
  border-radius: 8px;
}

.hero-overlay::before {
  width: 100%;
  height: 100%;
  content: " ";
  background-color: hsl(178, 100%, 50%);
  border-radius: 8px;
  opacity: 0.5;

  position: absolute;
  top: 0;
  left: 0;
}

.hero-overlay {
  width: 100%;
  height: 279px;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
}

.hero-overlay:hover {
  opacity: 1;
  transition: 400ms;
}

.hero-icon-view {
  width: 48px;
  height: 48px;
  z-index: 3;
}

h1 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  margin-bottom: 12px;
}

h1:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

.body-copy {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
  color: hsl(215, 51%, 70%);

  margin-bottom: 16px;
  width: 250px;
}

.offer-box {
  font-size: 15px;
  line-height: 19px;
  display: flex;
  justify-content: space-between;

  margin-bottom: 16px;
}

.price {
  color: hsl(178, 100%, 50%);
  font-weight: 600;

  display: flex;
  align-items: flex-end;
  gap: 6.5px;
}

.price .icon {
  width: 11px;
  height: 18px;
}

.time-left {
  color: hsl(215, 51%, 70%);
  font-weight: 400;

  display: flex;
  align-items: center;
  gap: 7.5px;
}

.time-left .icon {
  width: 16px;
  height: 16px;
}

hr {
  color: hsl(215, 32%, 27%);
  margin-bottom: 16px;
}

.author {
  color: hsl(215, 51%, 70%);

  display: flex;
  align-items: center;
  gap: 16px;

  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.author img {
  width: 33px;
  height: 33px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 100%;
}

.author-name {
  color: hsl(0, 0%, 100%);
}

.author-name:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}

@media (min-width: 900px) {
  .card {
    width: 350px;
    padding: 24px 24px 32px;
  }

  .hero {
    margin-bottom: 24px;
  }

  .hero-overlay {
    height: 302px;
  }

  h1 {
    margin-bottom: 16px;
  }

  .body-copy {
    width: 100%;
    margin-bottom: 24px;
  }

  .offer-box {
    margin-bottom: 24px;
    font-size: 16px;
    line-height: 20px;
  }

  .author {
    font-size: 16px;
    line-height: 20px;
  }
}
