$color-primary: #ff7979;
$color-secondary: #38cc8b;
$color-secondary-light: #77e2b3;
$color-tertiary: #5e54a4;
$color-tertiary-light: #bab7d4;
$color-grey: #dedede;
$color-black: #3d3b48;
$color-white: #fff;
