/* 
## Colors

### Primary

#### Text

- Very dark desaturated blue: hsl(238, 29%, 16%)
- Soft red: hsl(14, 88%, 65%)

#### Gradient

Background gradient:

- Soft violet: hsl(273, 75%, 66%)
- Soft blue: hsl(240, 73%, 65%)

### Neutral

#### Text

- Very dark grayish blue: hsl(237, 12%, 33%)
- Dark grayish blue: hsl(240, 6%, 50%)

#### Dividers

- Light grayish blue: hsl(240, 5%, 91%)
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%))
    no-repeat;
  background-size: 100vw 100vh;
}

.container {
  padding: 4.8rem;
}

.wrapper {
  position: relative;
  margin: 8rem auto;

  max-width: 92rem;
  height: 51rem;
}

.card {
  background-color: #fff;

  border-radius: 2.3rem;
  margin: 0;
  box-shadow: 0 50px 50px -20px rgba(53, 18, 122, 0.5);

  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: 6.5rem 2.5rem 8.3rem 0;
  height: 100%;

  overflow: hidden;
}

/* Illustration */

.img-mobile {
  display: none;
}

.img-desktop {
  display: block;
}

.image-box {
  position: relative;
  height: 39rem;
}

.main-img {
  position: absolute;
  left: -20%;
  top: 50%;

  max-height: 36rem;
  max-width: 47.17rem;
  width: 120%;

  transform: translateY(-50%);
  z-index: 1;
}

.bg-pattern {
  position: absolute;
  left: -20%;
  top: 50%;

  max-width: 47.17rem;
  width: 120%;

  transform: translate(-50%, -65%) scale(2);
}

.box-img {
  display: block;

  position: absolute;
  left: 0;
  top: 50%;

  width: 20%;

  transform: translate(-49%, -35%);
  z-index: 2;
}

.text-box {
  margin-left: 1.5rem;
  height: 100%;
  overflow-y: scroll;
}

/* Accordion */

.heading-primary {
  color: hsl(238, 29%, 16%);
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 4.5rem;
}

.accordion {
  max-width: 35rem;

  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.question-box {
}

.question-heading-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: hsl(237, 12%, 33%);
}

.question-heading-box:hover {
  color: hsl(14, 88%, 65%);
}

.question {
  font-size: 1.4rem;
  font-weight: 400;
}

.question-active .question {
  color: hsl(238, 29%, 16%);
  font-weight: 700;
}

.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 1.6rem;
}

.question-active .icon-arrow-down {
  transform: scaleY(-1);
}

.icon-arrow-down {
  width: 1rem;
  height: 0.7rem;
  stroke-width: 0.1rem;
}

.answer {
  display: none;

  color: hsl(240, 6%, 50%);

  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;

  margin-top: 1.3rem;
  margin-bottom: -0.2rem;

  /* font-size: 0rem;
  height: 0; */

  transition: all 0.3s;
}

.question-active .answer {
  display: block;
  /* font-size: 1.2rem;
  height: auto; */
}

.hr {
  width: 100%;
  height: 1px;
  background-color: hsl(240, 5%, 91%);
}
