.text-input {
  background-color: $color-dark-gray;
  border-radius: 100px;
  padding: 1.4rem 3.2rem;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.8rem;
  border: none;
  color: $color-light-gray;
  outline: none;
}

@media (max-width: $mobile-width) {
  .text-input {
    padding: 0.9rem 3.2rem;
  }
}
