* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin: 0 auto 10px;
  width: 375px;
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
}

/* YOUR RESULT CARD */
.your-result {
  background: linear-gradient(hsla(252, 100%, 67%), hsla(241, 81%, 54%));
  border-radius: 0 0 32px 32px;
  padding: 25px;
  text-align: center;
}

h1 {
  font-size: 16px;
  font-weight: 700;
  color: hsla(241, 100%, 89%, 0.95);
  margin: 0 auto;
  letter-spacing: 0.06rem;
}

/* CIRCLE */
.score-circle {
  background: linear-gradient(hsla(256, 72%, 46%, 0.8), hsla(241, 72%, 46%, 0));
  width: 140px;
  height: 140px;
  margin: 25px auto 22px;
  border-radius: 100px;
  padding: 26px;
  color: hsla(241, 100%, 89%, 0.5);
}

.user-score {
  display: block;
  font-size: 56px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin-bottom: -2px;
}

/* DESCRIPTION */
.score-headline {
  font-size: 24px;
  font-weight: 500;
  color: hsla(0, 0%, 100%, 0.9);
  letter-spacing: 0.01rem;
  margin-left: -4px;
}

.score-description {
  font-size: 16px;
  margin: 10px auto 15px;
  width: 280px;
  color: hsla(241, 100%, 89%, 0.9);
}

/* SUMMARY CARD */
.summary {
  border-radius: 20px;
  padding: 16px 30px 8px;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  color: hsla(256, 100%, 0%, 0.8);
  margin: 10px auto 28px;
  line-height: 1em;
  margin-left: 2px;
}

/* SCORE DETAILS */
.user-test-scores {
  display: flex;
  flex-direction: column;
  gap: 17px;
  margin-bottom: 24px;
}

.test-score-item {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 17px;

  font-size: 16px;
  border-radius: 15px;
}

img {
  margin-right: 12px;
  vertical-align: text-top;
}

#reaction {
  color: hsla(0, 100%, 67%, 1);
  background-color: hsla(0, 100%, 67%, 0.1);
}

#memory {
  color: hsla(39, 100%, 56%, 1);
  background-color: hsla(39, 100%, 56%, 0.1);
}

#verbal {
  color: hsla(166, 100%, 37%, 1);
  background-color: hsla(166, 100%, 37%, 0.1);
}

#visual {
  color: hsla(234, 85%, 45%, 1);
  background-color: hsla(234, 85%, 45%, 0.1);
}

.score-item-result {
  font-weight: 700;
  color: hsla(256, 100%, 0%, 0.4);
}

.user-score-item {
  color: hsla(256, 100%, 0%, 0.8);
  margin-right: 4px;
}

/* BUTTON */
.btn-continue {
  width: 100%;
  padding: 16px;
  border-radius: 30px;
  border: none;
  background-color: hsl(224, 30%, 27%);

  font-family: "Hanken Grotesk", sans-serif;
  font-size: 18px;

  color: white;
}

.btn-continue:hover {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

/* FOOTER */
footer {
  margin-bottom: 24px;
}
