.heading-primary {
  font-size: 5rem;
  line-height: 5.5rem;
  letter-spacing: -0.52px;
  font-weight: 700;
}

.text-body {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.text-disclaimer {
  font-size: 1.1rem;
  line-height: 2.6rem;
  font-weight: 500;
  color: $color-tertiary-light;
}

.text-terms {
  font-size: 1.1rem;
  line-height: 2.6rem;
  font-weight: 700;
  color: $color-primary;
}
