.u-margin-bottom-tiny {
  margin-bottom: 0.8rem;
}

.u-margin-bottom-small {
  margin-bottom: 3rem;
}

.u-margin-bottom-medium {
  margin-bottom: 2.4rem;
}

.u-margin-bottom-huge {
  margin-bottom: 12.1rem;
}

.hidden {
  display: none;
}

@media (max-width: $mobile-width) {
  .u-margin-bottom-small {
    margin-bottom: 1.6rem;
  }
}
