* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

main {
  width: 768x;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
}

/* STYLES */
h1 {
  font-size: 48px;
  font-weight: 900;
  line-height: 1em;
  color: #28283d;
}

h2 {
  font-size: 40px;
  font-weight: 900;
  line-height: 44px;
  color: #28283d;
}

.overline {
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4d96a9;
}

p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #87879d;
}

button {
  color: #ffffff;
  border-radius: 29px;
  border: none;
  padding: 16px 0;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
}

.download-button {
  padding-left: 40px;
  padding-right: 40px;
}

.describe-button {
  padding-left: 29px;
  padding-right: 29px;
}

.button-1 {
  background-color: #4d96a9;
}

.button-2 {
  background-color: #855fb1;
}

.button-1:hover {
  background-color: #71c0d4;
}

.button-2:hover {
  background-color: #b18bdd;
}

.version-number-1 {
  color: #8fe3f9;
}

.version-number-2 {
  color: #d9b8ff;
}

/* LAYOUT */
.meet-logo {
  margin: 48px auto 64px;
}

/* banner */
.banner {
  display: flex;
  position: relative;
  width: 110%;
  left: -5%;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 72px;
  justify-content: center;
  margin-bottom: 80px;
}

.banner-content-center {
  width: 457px;
  flex-grow: 0;
}

.banner h1 {
  margin-bottom: 24px;
}

.banner p {
  margin-bottom: 28px;
  position: relative;
}

.banner .button-1 {
  margin-right: 10px;
}

/* section divider */
.section-divider {
  width: 56px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

.vertical-rule {
  width: 0px;
  height: 84px;
  margin: 0 auto;
  border: 1px solid #87879d;
  opacity: 25%;
}

.section-number {
  font-size: 16px;
  font-weight: 900;
  border: 1px solid #87879d;
  border-radius: 56px;
  opacity: 25%;
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-01 {
  margin-bottom: 67px;
}

.section-02 {
  margin-bottom: -23px;
}

/* carousel */
.carousel {
  width: 688px;
  height: 156px;
  margin: 0 auto 48px;

  display: flex;
  column-gap: 11px;
}

.carousel-img {
  border-radius: 8px;
}

/* SERVICE DESCRIPTION */
.service-description {
  margin-bottom: 80px;
}

.service-description h2 {
  width: 455px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.service-description p {
  width: 520px;
  margin: 0 auto;
}

.service-description .overline {
  margin-bottom: 16px;
}

/* FOOTER */
footer {
  height: 428px;
  background-color: #4d96a9;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 92px 98px 66px;

  position: relative;
}

.footer-content {
  width: 1110px;
  margin-top: 12px;
  position: relative;

  text-align: center;
}

.footer-content h2 {
  color: #fafafa;
  width: 350px;
  margin: 0 auto 32px;
}

.footer-content p {
  font-size: 18px;
  color: #fafafa;
  /* width: 350px;  */
  margin: 0 auto 40px;
}

.footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.1;
  width: 100%;
  height: auto;
}
